<div class="modal-overlay" (click)="closed.emit()">
    <div #card class="modal-card" role="dialog" aria-modal="true" [attr.aria-labelledby]="titleId"
         tabindex="-1" [style.width.px]="width" (click)="$event.stopPropagation()">
        <div class="modal-head">
            <ng-content select="[modal-icon]"></ng-content>
            <span class="modal-title" [id]="titleId"><ng-content select="[modal-title]"></ng-content></span>
            <span class="spacer"></span>
            <button type="button" class="modal-close" (click)="closed.emit()" [title]="t().common.close" [attr.aria-label]="t().common.close"><app-icon name="x" size="sm"></app-icon></button>
        </div>
        <div class="modal-body"><ng-content></ng-content></div>
        <div class="modal-actions"><ng-content select="[modal-actions]"></ng-content></div>
    </div>
</div>
