<div class="popover-host">
    <div class="popover-trigger" #triggerEl (click)="toggle($event)">
        <ng-content select="[trigger]"></ng-content>
    </div>
    @if (isOpen()) {
    <div class="popover-panel" #panelEl [style.top.px]="panelBottom() === null ? panelTop() : null"
         [style.bottom.px]="panelBottom()" [style.left.px]="panelLeft()"
         [style.right.px]="panelRight()" [style.max-height.px]="panelMaxHeight()">
        <ng-content select="[panel]"></ng-content>
    </div>
    }
</div>
